

<div class="row">
  <div class="col-md-12">
    <h2>Statistics - Historical Data</h2>
    <hr class="title-hr">
    <p>Display a complete visualization of historical data collected by 47 Air Quality stations distributed along Mexico City since January 2017.
    Review the behaviour of Air Quality conditions as a time-series sequence according to an specific pollutant, station and an overview of the chosen pollutant across all the stations.

      <div class="row">

<!-- <iframe src="http://207.249.127.79:3000/dashboard/snapshot/l10RWLTPEWGq1MfgnKXTELl6Q0Rc3OUq" width="100%" height="900px"></iframe> -->

         <iframe [src]="statistics_url" width="100%" height="900px"></iframe>

<!--      <iframe src="http://207.249.127.79:3000/dashboard-solo/db/temperature?orgId=1&from=1502870744411&to=1503006788210&panelId=1&var-value=%22relativehumidity%22&var-name=Santa%20fe&var-station=CDMX-AmbientObserved-484090040309" width="100%" height="400" frameborder="0"></iframe>

<br><br>
      <iframe src="http://207.249.127.79:3000/dashboard-solo/db/temperature?orgId=1&var-value=%22temperature%22&var-name=Acolman&var-station=CDMX-AmbientObserved-484150020109&from=1501874635294&to=1503090788118&panelId=4" width="100%" height="200" frameborder="0"></iframe>
<br><br>
      <iframe src="http://207.249.127.79:3000/dashboard-solo/db/temperature?orgId=1&var-value=%22temperature%22&var-name=Acolman&var-station=CDMX-AmbientObserved-484150020109&from=1501874635294&to=1503090788118&panelId=1" width="100%" height="400" frameborder="0"></iframe>
<br><br>
      <iframe src="http://207.249.127.79:3000/dashboard-solo/db/temperature?orgId=1&var-value=%22temperature%22&var-name=Acolman&var-station=CDMX-AmbientObserved-484150020109&from=1501874635294&to=1503090788118&panelId=7" width="100%" height="400" frameborder="0"></iframe>
-->

    </div>
  </div>
</div>
