
<div   [@animation] *ngIf="visible"  class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" (click)="close()" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title">AVISO DE PRIVACIDAD INTEGRAL</h4>
            </div>
            <div class="modal-body">
              <!-- <h3>AVISO DE PRIVACIDAD INTEGRAL</h3> -->

              <h4>Laboratorio Nacional de Internet del Futuro, LaNIF, con domicilio en San Fernando 37, Colonia Toriello Guerra, Tlalpan, Ciudad de México, CP. 14050, México — Ciudad de México, México, es el responsable del tratamiento de los datos personales que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, y demás normatividad que resulte aplicable.</h4>

              <br><strong>¿Qué datos personales solicitamos y para qué fines?</strong> <br>
              Los datos personales que solicitamos los utilizaremos para las siguientes finalidades:

              Finalidad
              ¿Requieren consentimiento del titular?
              SI
              Funcionamiento de aplicación.
              Pruebas de funcionalidad.

              Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, se solicitarán los siguientes datos personales:

              <ul>
                <li>Nombre</li>
                <li>Fecha de nacimiento</li>
                <li>Domicilio</li>
                <li>Correo electrónico</li>
                <li>Género</li>
              </ul>
              Se informa que no se solicitarán datos personales sensibles.

              <br> <strong>¿Con quién compartimos su información personal y para qué fines?</strong> <br>
              Se informa que no se realizarán transferencias de datos personales, salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad competente, que estén debidamente fundados y motivados.

              <!-- <br> <strong>¿Cuál es el fundamento para el tratamiento de datos personales?</strong> <br>
              XXX -->

              <br> <strong>¿Dónde puedo ejercer mis derechos ARCO?</strong> <br>
              Usted podrá presentar su solicitud para el ejercicio de los derechos de acceso, rectificación, cancelación u oposición de sus datos personales (derechos ARCO) directamente ante nuestra Unidad de Transparencia, cuyos datos de contacto son los siguientes:
              <ol type="a">
                <li>Nombre de su titular:</li>
                <li>Domicilio: San Fernando 37, Colonia Toriello Guerra, Tlalpan, Ciudad de México, CP. 14050, México</li>
                <li>Correo electrónico: smartcity.sdk@gmail.com</li>
                <li>Número telefónico y extensión: (55) 56242800</li>
                <li>Otro dato de contacto:</li>
              </ol>

              Asimismo, usted podrá presentar una solicitud de ejercicio de derechos ARCO a través de la Plataforma Nacional de Transparencia, disponible en http://www.plataformadetransparencia.org.mx
              <!-- , y a través de los siguientes medios:
              <strong>XXX</strong> -->

              Si desea conocer el procedimiento para el ejercicio de estos derechos, puede acudir a la Unidad de Transparencia, o bien, ponemos a su disposición los siguientes medios:
              correo eletronico: smartcity.sdk@gmail.com, telefono: (55) 56242800

             <br> <strong>¿Cómo puede conocer los cambios en este aviso de privacidad?</strong> <br>
              El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales o por otras causas.
              Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: http://lanif.infotec.mx/

              <br> <strong>Otros datos de contacto:</strong> <br>

              Página de Internet: http://lanif.infotec.mx/ <br>
              Correo electrónico para la atención del público en general: smartcity.sdk@gmail.com <br>
              Número telefónico para la atención del público en general: (55) 56242800 <br>

              <small>Última actualización: 07/09/2018</small>

            </div>
            <ng-content></ng-content>
        </div>
    </div>
<div *ngIf="visible" class="modal" (click)="close()"></div>
</div>
