<div class="container smart-home">
    <div class="row routes">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="pull-right">
                        <img src="../../assets/img/green3.svg" class="img-fluid">
                    </div>
                    
                </div>
                <div class="col" style="padding-top:10px;">
                    <div class="pull-left">
                        <h2>An app for pollution and traffic monitoring</h2>
                    </div>
                </div>

            </div>                   
            
            
            <p>The objective of Green Route  is to help the final user to determine the best route to
                follow to reach a destination, taking into account the user profile
                (such as health conditions), and the user preferences, such as transport type.
                Green Route proposes the ideal route for the user, avoiding routes with high
                levels of pollution, floods or pollen, etc., allowing for instance, to obtain
                the preferred routes for people with respiratory diseases.</p>
            
            <img src="../../assets/img/routes2.svg" class="img-fluid">
            <h2>Go faster, move safely and keep healthy</h2>
            
        </div>
    </div>
    <div class="row smartRoutes" style="background:#DFF3FE;">
        <div class="col col-4" style="background:#FFF; border-radius: 10px 10px 10px 10px;">
            <img src="../../assets/img/smartr.svg" class="img-fluid">
        </div>
        <div class="col col-8">
            <h1>Smart Routes</h1>
            <p>The best route based on weather condition, pollution, traffic and your available transports</p>
        </div>
    </div>
    <div class="row smartRoutes" style="background:#DAF6A7;">
        <div class="col col-8">
            <h1>Taking care of your health</h1>
            <p>Register your health information to get the perfect route for you</p>
        </div>
        <div class="col col-4" style="background:#FFF; border-radius: 10px 10px 10px 10px;">
            <img src="../../assets/img/health2.svg" class="img-fluid">
        </div>
    </div>
    <div class="row smartRoutes" style="background:#B4F7DE;">
        <div class="col col-4" style="background:#FFF; border-radius: 10px 10px 10px 10px;">
            <img src="../../assets/img/bell2.svg" class="img-fluid">
        </div>
        <div class="col col-8">
            <h1>Keep up to date</h1>
            <p>Receive alerts and notifications about traffic jam, accidents, polluntants</p>
        </div>
    </div>
    <div class="row smartRoutes" style="background:#DDF4FB;">
        <div class="col col-8">
            <h1>Smart Points</h1>
            <p>Connect physical objects or places with your smart phone to offer and interactive and multimedia experience</p>
        </div>
        <div class="col col-4" style="background:#FFF; border-radius: 10px 10px 10px 10px;">
            <img src="../../assets/img/smartPoints2.svg" class="img-fluid">
        </div>
    </div>
</div>
